<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="btn btn-outline-light" href="/" role="button">Home</a>
    <span class="navbar-text">
      Foro Multitemático
    </span>
  </div>
</nav>